.payment-method {
  .paymark-title-logo {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
  }
}

.oe-description {
  margin-bottom: 25px;
}

/*.paymark-oe, .paymark-oe-loader {
  max-width: 300px;
  padding: 25px 20px 30px;
  font-size: 16px;
  color: #605871;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}


.paymark-oe {
  position: relative;

  .paymark-oe-logo {
    margin-bottom: 25px;
  }

  .paymark-oe-fields {
    margin-bottom: 16px;

    .whats-autopay, .autopay-edit {
      float: right;
      color: #5a3c9f;
      font-weight: 600;
      font-size: 13px;
      line-height: 22px;
      cursor: pointer;

      &:hover {
        color: #5a3c9f;
      }
    }

    .autopay-edit {
      text-transform: uppercase;
    }

    .field {
      margin-bottom: 20px;

      label {
        margin-bottom: 15px;
        display: block;
      }

      input, select {
        height: 40px;
        padding: 0px 25px 0px 15px;
        border-radius: 4px;
        line-height: 40px;
        font-size: 16px;
        color: #605871;
        border: 1px solid #cac8cf;
      }

      input[type="checkbox"] {
        height: auto;
        margin-top: 0;
        padding: 0;
      }

      input.input-mobile {
        letter-spacing: 2px;
      }

      input.mage-error, select.mage-error {
        color: #ff1e00;
        border-color: #ff1e00;
      }

      input:focus, select:focus {
        box-shadow: none;
      }

      div.mage-error {
        margin-top: 10px;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        background-color: #ffeeed;
      }
    }

    div.checkbox {
      label {
        margin-bottom: 0px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
      }
    }

    .bank-select {
      border-radius: 4px;
      display: flex;

      .bank-select-input {
        height: 40px;
        flex-basis: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #cac8cf;
        border-bottom: 1px solid #cac8cf;
        border-left: 1px solid #cac8cf;
        transition: background-color 150ms ease-out, border 150ms ease-out;

        &:first-child {
          border-radius:4px 0 0 4px;
          border-left: 1px solid #cac8cf;
        }

        &:last-child {
          border-radius:0 4px 4px 0;
          border-right: 1px solid #cac8cf;
        }

        &:hover {
          background-color: #efefef;
          border-color: #5a3c9f;

          + .bank-select-input {
            border-left-color: #5a3c9f;
          }
        }

        .bank-select-logo {
          justify-content: center;
          align-items: center;
          display: flex;
          height: 100%;

          .bank-select-asb {
            width: 62px;
            height: auto;
          }
          .bank-select-heartland {
            width: 62px;
            height: auto;
          }
          .bank-select-cooperative {
            width: 45px;
            height: auto;
          }
          .bank-select-westpac {
            width: 40px;
            height: auto;
          }
        }

        label {
          height:100%;
          margin: 0;
          cursor: pointer;
          display: flex;
          transition: filter 250ms ease-out, opacity 250ms ease-out;
        }

        input.radio {
          visibility: hidden;
          position: absolute;
          height: 0;
          width: 0;
          padding: 0;
          margin: 0;
        }
      }

      &.option-selected {
        label {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 0.6;
        }

        input.radio:checked + label {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
  }

  .paymark-oe-actions {
    .actions-toolbar {

      div.primary {
        float: none;
        display: block;
      }

      button {
        width: 100%;
        padding: 12px 15px;
        float: none;
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #5a3c9f;
        border: none;
      }

      .autopay-switch {
        text-align: center;
        padding-top: 20px;
        display: block;
        color: #5a3c9f;
        cursor: pointer;

        &:hover {
          color: #5a3c9f;
        }
      }
    }
  }

  .paymark-oe-what {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5a3c9f;
    border-radius: 4px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    .what-close {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      &:before, &:after {
        position: absolute;
        left: 12px;
        content: ' ';
        height: 26px;
        width: 2px;
        background-color: #FFFFFF;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    .what-inner {
      padding: 75px 40px 30px;

      a {
        color: #FFFFFF;
      }
    }

    p {
      font-weight: 200;
      font-size: 15px;
    }

    .what-title {
      font-size: 28px;
      font-weight: 600;
    }

    .paymark-oe-actions {
      padding: 20px 20px 30px 20px;

      .actions-toolbar {
        button {
          color: #5a3c9f;
          background-color: #ffffff;
        }
      }
    }
  }
}

.paymark-oe-autopay {

  .autopay-list {
    border: 1px solid #cac8cf;
    border-radius: 4px;
  }

  .field {
    .autopay-option {
      label {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .autopay-option {
    padding: 0px 15px;
    border-bottom: 1px solid #cac8cf;
    transition: background-color 150ms ease-out;

    &:hover {
      background-color: #efefef;
    }

    &:last-child {
      border-bottom: none;
    }

    &.selected {
      .option-radio {
        &:before {
          background-color: #5a3c9f;
        }
      }
    }

    input.radio {
      visibility: hidden;
      position: absolute;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
    }

    .option-radio {
      padding: 4px;
      border-radius: 50%;
      border: 1px solid #5a3c9f;

      &:before {
        width: 8px;
        height: 8px;
        content: ' ';
        display: block;
        border-radius: 4px;
        transition: background-color 150ms ease-out;
      }
    }

    .option-payer {
      flex-basis: 50%;
      padding-left: 15px;
      line-height: 40px;
      font-size: 16px;
      letter-spacing: 2px;
      color: #605871;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .option-logo {
      border-left: 1px solid #cac8cf;
      margin-left: 10px;
      padding-left: 10px;
      flex-basis: 29%;
      display: flex;
      text-align: center;
      justify-content: center;

      img {
        height: 18px;
      }
    }
  }
}

.paymark-oe-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  background-color: rgba(0,0,0,0.2);

  &.show {
    display: block;
  }
}

.paymark-oe-loader {
  width: 300px;
  padding: 40px 20px 20px 20px;
  position: absolute;
  margin-left: -170px;
  top: 30%;
  left: 50%;
  text-align: center;

  p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }

  .oe-loader-title, .oe-loader-timer {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
  }

  .oe-loader-title {
    margin-bottom: 12px;
  }

  .oe-loader-bank {
    margin-bottom: 25px;
  }
}*/
