<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
            <img width="160" data-bind="attr: {src: onlineEftposLogo}" class="paymark-title-logo" />
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="paymark-oe" data-bind="visible: !shouldShowAutopay()">
            <div class="paymark-oe-logo">
                <img width="160" data-bind="attr: {src: onlineEftposLogo}" />
            </div>
            <div class="paymark-oe-fields">
                <form id="paymarkoe_form">
                    <div class="field banks required">
                        <div class="control">
                            <label data-bind="i18n: 'Select Bank'"></label>

                            <div data-bind="css: {
                                'bank-select':  true,
                                'option-selected':  selectedBank()
                            }, foreach: availableBanks">
                                <div class="bank-select-input" data-bind="css: {
                                    'bank-select-input':  true,
                                    'selected':  value == $parent.selectedBank()
                                }">
                                    <input type="radio"
                                           class="radio required-entry"
                                           name="payment[paymarkoe_bank_id][]"
                                           data-validate="{'validate-one-required-by-name': true}"
                                           data-bind="attr:{
                                                id: 'bank_id_' + value,
                                                value: value
                                           },
                                           checked: $parent.selectedBank"/>

                                    <label data-bind="attr: {for: 'bank_id_' + value}">
                                        <span class="bank-select-logo">
                                            <img data-bind="attr: { src: $parent.getLogoImage(value), class: 'bank-select-' + lower }" />
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field required">
                        <div class="control">
                            <label data-bind="i18n: 'Mobile Number', attr: {for: getCode() + '_mobile_number'}"></label>

                            <input type="text"
                                   class="input-text input-mobile"
                                   name="payment[paymarkoe_mobile_number]"
                                   data-validate="{required:true, 'validate-number':true, 'validate-nz-phone':true}"
                                   data-bind="attr:{
                                                title: $t('Mobile Number'),
                                                id: getCode() + '_mobile_number'
                                           },
                                           value: mobileNumber,
                                           valueUpdate: 'keyup'" />

                        </div>
                    </div>

                    <div class="field checkbox autopay-checkbox" data-bind="if: (autopayEnabled && autopayAllowed)">

                        <input type="checkbox"
                               name="payment[paymarkoe_enable_autopay]"
                               data-bind="attr:{
                                            title: $t('Enable Auto Pay'),
                                            id: getCode() + '_enable_autopay'
                                       },
                                       checked: setupAutoplay" />

                        <label data-bind="i18n: 'Enable Autopay', attr: {for: getCode() + '_enable_autopay'}"></label>

                        <a class="whats-autopay"data-bind="
                                    click: showWhatsAutopay
                                ">What's Autopay?</a>
                    </div>
                </form>
            </div>

            <div class="paymark-oe-actions">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="
                                    click: placeOrder,
                                    attr: {title: $t('Place Order')}
                                ">
                            <span data-bind="i18n: 'Place Order'"></span>
                        </button>
                    </div>

                    <a class="autopay-switch" data-bind="if: customerHasAgreements(), click: showAutopay">Use Autopay account</a>
                </div>
            </div>

            <div id="paymark-oe-what" class="paymark-oe-what">
                <div class="what-close" data-bind="click: closeWhatsAutopay"></div>

                <div class="what-inner">
                    <p class="what-title">Autopay</p>
                    <p>Enabling Autopay allows you to click and buy online straight away with your favourite merchant. You can cancel anytime through your banking app.</p>
                    <p><a href="https://www.paymark.co.nz/products/online-eftpos/autopay" target="_blank">Click here to learn more.</a> </p>
                </div>

                <div class="paymark-oe-actions">
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button class="action primary checkout"
                                data-bind="
                                    click: closeWhatsAutopay,
                                    attr: {title: $t('Ok, I understand')}
                                ">
                                <span data-bind="i18n: 'Ok, I understand'"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="paymark-oe paymark-oe-autopay" data-bind="visible: shouldShowAutopay()">
            <div class="paymark-autopay-body">
                <div class="paymark-oe-logo">
                    <img width="160" data-bind="attr: {src: onlineEftposLogo}"/>
                </div>
                <div class="paymark-oe-fields">
                    <form id="paymarkoe_autopay_form">
                        <div class="field autopay-field">
                            <a class="autopay-edit" href="/paymarkoe/customer/agreements/">Edit</a>

                            <label data-bind="i18n: 'Pay with Autopay Details'"></label>

                            <div class="autopay-list" data-bind="foreach: agreements">
                                <div class="autopay-option" data-bind="css: {
                                    'selected':  id == $parent.selectedAgreement()
                                }">
                                    <input type="radio"
                                           class="radio required-entry"
                                           name="payment[paymarkoe_agreement_id][]"
                                           data-validate="{'validate-one-required-by-name': true}"
                                           data-bind="attr:{
                                                id: 'bank_agreement_' + id,
                                                value: id
                                           },
                                           checked: $parent.selectedAgreement"/>

                                    <label data-bind="attr: {for: 'bank_agreement_' + id}">
                                        <span class="option-radio"></span>
                                        <span class="option-payer" data-bind="text: payer"></span>
                                        <span class="option-logo">
                                            <img height="18" data-bind="attr: { src: logo }"/>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="paymark-oe-actions">
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button class="action primary checkout"
                                    type="submit"
                                    data-bind="
                                        click: placeOrder,
                                        attr: {title: $t('Pay Now')}
                                    ">
                                <span data-bind="i18n: 'Pay Now'"></span>
                            </button>
                        </div>

                        <a class="autopay-switch" data-bind="click: closeAutopay">Use another account</a>
                    </div>
                </div>
            </div>
        </div>


        <div id="payment-processing" class="paymark-oe-overlay">
            <div class="paymark-oe-loader">
                <p class="oe-loader-title">Payment Request Sent</p>
                <p>Now, check your <span data-bind="text: loadingBankName"></span> banking app to confirm your payment.</p>
                <img class="oe-loader-bank" width="160" data-bind="attr: {src: loadingBankImage}" />
                <p>You have <span class="oe-loader-timer">5:00</span> minutes to confirm payment in your app.</p>
            </div>
        </div>

    </div>
</div>
