<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="paymark-oe">
            <div class="paymark-oe-logo">
                <img width="160" data-bind="attr: {src: onlineEftposLogo}" />
            </div>
            <div class="paymark-oe-fields">
                <form id="paymarkoe_form">
                    <div class="field required">
                        <div class="control">
                            <label data-bind="i18n: 'Select Bank', attr: {for: getCode() + '_bank_id'}"></label>

                            <select name="payment[paymarkoe_bank_id]"
                                    class="select"
                                    data-validate="{required:true}"
                                    data-bind="
                                    attr:{
                                        title: $t('Select Bank'),
                                        id: getCode() + '_bank_id'
                                      },
                                      options: availableBanks,
                                      optionsValue: 'value',
                                      optionsText: 'text',
                                      value: selectedBank">
                            </select>
                        </div>
                    </div>

                    <div class="field required">
                        <div class="control">
                            <label data-bind="i18n: 'Mobile Number', attr: {for: getCode() + '_mobile_number'}"></label>

                            <input type="text"
                                   class="input-text"
                                   name="payment[paymarkoe_mobile_number]"
                                   placeholder="Mobile Number"
                                   data-validate="{required:true, 'validate-number':true, 'validate-nz-phone':true}"
                                   data-bind="attr:{
                                                title: $t('Mobile Number'),
                                                id: getCode() + '_mobile_number'
                                           },
                                           value: mobileNumber,
                                           valueUpdate: 'keyup'" />

                        </div>
                    </div>

                    <div class="field checkbox" data-bind="if: (autopayEnabled && autopayAllowed)">

                        <input type="checkbox"
                               name="payment[paymarkoe_enable_autopay]"
                               data-bind="attr:{
                                            title: $t('Enable Auto Pay'),
                                            id: getCode() + '_enable_autopay'
                                       },
                                       checked: setupAutoplay" />

                        <label data-bind="i18n: 'Enable Autopay', attr: {for: getCode() + '_enable_autopay'}"></label>
                    </div>
                </form>
            </div>
            <div class="paymark-oe-actions">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="
                                    click: placeOrder,
                                    attr: {title: $t('Place Order')}
                                ">
                            <span data-bind="i18n: 'Place Order'"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="payment-processing" class="paymark-oe-overlay">
            <div class="paymark-oe-loader">
                <p class="oe-loader-title">Payment Request Sent</p>
                <p>Now, check your <span data-bind="text: loadingBankName"></span> banking app to confirm your payment.</p>
                <img class="oe-loader-bank" width="160" data-bind="attr: {src: loadingBankImage}" />
                <p>You have <span class="oe-loader-timer">5:00</span> minutes to confirm payment in your app.</p>
            </div>
        </div>

    </div>
</div>
